/* 
Colors to use:
blue: #9ADCFF
yellow: #FFF89A
orange: #FFB2A6
pink: #FF8AAE

other:
green: #c0eb7b
*/

.home-title {
    color: #FF8AAE;
}

.home-title,
.recipe-title,
h3 {
    font-family: 'Handlee', cursive;
}

.recipe-title {
    color: #77ccfa;
}

h3 {
    color: #fd9c8e;
}

h3,
a,
p,
li {
    font-family: 'Open Sans', sans-serif;
}

img {
    height: 500px;
    width: 500px;
}

html {
    background-color: #fffde1;
}